<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <classPathEntry
            location="/Users/duanxiaojie/.m2/repository/mysql/mysql-connector-java/5.1.46/mysql-connector-java-5.1.46.jar"/>
    <context id="my" targetRuntime="MyBatis3">
        <commentGenerator>

            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/yqgl_db" userId="root"
                        password="root"/>

        <javaModelGenerator targetPackage="com.casic.yqgl.model"
                            targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="false"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="com.casic.yqgl.mapper"
                         targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <javaClientGenerator targetPackage="com.casic.yqgl.mapper"
                             targetProject="src/main/java" type="XMLMAPPER">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>


        <!--<table tableName="instrument" domainObjectName="Instrument"-->
               <!--enableCountByExample="false" enableUpdateByExample="false"-->
               <!--enableDeleteByExample="false" enableSelectByExample="false"-->
               <!--selectByExampleQueryId="false">-->
            <!--&lt;!&ndash;<columnRenamingRule searchString="^D_"-->
                                <!--replaceString=""/>&ndash;&gt;-->
        <!--</table>-->
        <!--<table tableName="event" domainObjectName="Event"-->
               <!--enableCountByExample="false" enableUpdateByExample="false"-->
               <!--enableDeleteByExample="false" enableSelectByExample="false"-->
               <!--selectByExampleQueryId="false">-->
            <!--&lt;!&ndash;<columnRenamingRule searchString="^D_"-->
                                <!--replaceString=""/>&ndash;&gt;-->
        <!--</table>-->
        <table tableName="collector" domainObjectName="Collector"
               enableCountByExample="false" enableUpdateByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               selectByExampleQueryId="false">
            <!--<columnRenamingRule searchString="^D_"
                                replaceString=""/>-->
        </table>
        <!--<table tableName="ty_equip" domainObjectName="TarEquip"-->
               <!--enableCountByExample="false" enableUpdateByExample="false"-->
               <!--enableDeleteByExample="false" enableSelectByExample="false"-->
               <!--selectByExampleQueryId="false">-->
            <!--&lt;!&ndash;<columnRenamingRule searchString="^D_"-->
                                <!--replaceString=""/>&ndash;&gt;-->
        <!--</table>-->
        <!--<table tableName="ty_equip_address" domainObjectName="TarEquipAddress"-->
               <!--enableCountByExample="false" enableUpdateByExample="false"-->
               <!--enableDeleteByExample="false" enableSelectByExample="false"-->
               <!--selectByExampleQueryId="false">-->
            <!--&lt;!&ndash;<columnRenamingRule searchString="^D_"-->
                                <!--replaceString=""/>&ndash;&gt;-->
        <!--</table>-->
    </context>
</generatorConfiguration>