<!DOCTYPE html>
<html lang="en">
<head>
    <!--meta tags-->
    <meta charset="UTF-8">
    <meta name="description" content="Services Listing HTML5 CSS3 template">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript, services, listing">
    <meta name="author" content="Ui-DesignLab">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--end meta tags-->
    <title>Dashboard</title>
    <!--stylesheets-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-table.css">
    <link rel="stylesheet" href="vendor/css/animate.min.css">
    <link rel="stylesheet" href="vendor/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/perfect-scrollbar/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/toastr.css">
    <!--end stylesheets-->

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cairo%7CNosifer%7CPoppins%7CQuicksand:700%7CRaleway%7CTangerine%7CHind+Vadodara" rel="stylesheet">
    <!--end google fonts-->

</head>
<body>

<!--banner-->
    <nav class="site-top-nav">
        <div class="logo">
            <a href="index">
                <img src="img/logo.png" alt="">
                <strong>设备管家</strong>
            </a>
        </div>
        <ul class="site-menu">
        <li><a href="index">主页</a></li>
		<li><a href="#">关于我们</a></li>
        </ul>
        <i class="nav-toggle fa fa-bars"></i>
    </nav>
<!--end banner-->

<!--myModal-->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新增</h4>
            </div>
            <div class="modal-body">
                <input type="text" style="display: none" name="txt_collector_id" id="txt_collector_id">
                <div class="form-group">
                    <label for="txt_collector_name">名称</label>
                    <input type="text" name="txt_collector_name" class="form-control" id="txt_collector_name" placeholder="名称">
                </div>
                <div class="form-group">
                    <label for="txt_collector_address">位置</label>
                    <input type="text" name="txt_collector_address" class="form-control" id="txt_collector_address" placeholder="位置">
                </div>
                <div class="form-group">
                    <label for="txt_collector_ip">IP</label>
                    <input type="text" name="txt_collector_ip" class="form-control" id="txt_collector_ip" placeholder="IP">
                </div>
                <div class="form-group">
                    <label for="txt_collector_mask">掩码</label>
                    <input type="text" name="txt_collector_mask" class="form-control" id="txt_collector_mask" placeholder="掩码">
                </div>
                <div class="form-group">
                    <label for="txt_collector_gateway">网关</label>
                    <input type="text" name="txt_collector_gateway" class="form-control" id="txt_collector_gateway" placeholder="网关">
                </div>
                <div class="form-group">
                    <label for="txt_collector_port">端口</label>
                    <input type="text" name="txt_collector_port" class="form-control" id="txt_collector_port" placeholder="端口">
                </div>
                <div class="form-group">
                    <label for="txt_collector_status">状态</label>
                    <input type="text" name="txt_collector_status" class="form-control" id="txt_collector_status" placeholder="在线/离线">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                <button type="button" id="btn_submit" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存</button>
            </div>
        </div>
    </div>
</div>
<!--end myModal-->

    <div class="container">

        <h1 align="center">集中器列表</h1>

        <div id="toolbar" class="btn-group">
            <button id="btn_add" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
            </button>
            <!--<button id="btn_delete" type="button" class="btn btn-default">-->
                <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除-->
            <!--</button>-->
        </div>
        <table id="tb_collector"></table>
    </div>

<!--page loader-->
<div class="page-loader">
    <div class="loader"><img src="img/logo.png" alt=""></div>
</div>
<!--end page loader-->

<div class="bottom-strip">
    <div class="cards-accepted">
    </div>
    <div class="copyright"><i class="fa fa-copyright"></i> <span>Copyright &copy; 2018. 航天科工二院二十三所  All rights reserved.</span></div>
    <div class="country"></div>
</div>
<!--end footer section-->

<!--scripts-->
<script src="js/jquery.min.js"></script>
<script src="vendor/js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="vendor/js/alertify.js"></script>
<script src="vendor/js/jquery.knob.min.js"></script>
<!--[if IE]><script type="text/javascript" src="vendor/js/excanvas.js"></script><![endif]-->
<script src="vendor/js/summernote-bs4.min.js"></script>
<script src="vendor/js/dropzone.js"></script>
<script src="vendor/OwlCarousel2-2.2.1/owl.carousel.min.js"></script>
<script src="vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<script src="vendor/js/typed.js"></script>
<script src="js/app.js"></script>
<script src="js/toastr.min.js"></script>
<script src="js/bootstrap-table.js"></script>
<script src="js/bootstrap-table-zh-CN.min.js"></script>
<!--end scripts-->

</body>
<script>
    toastr.options.positionClass = 'toast-center-center';
    selections = [];
    $(function () {
        //1.初始化Table
        var oTable = new TableInit();
        oTable.Init();
        //2.初始化Button的点击事件
        var oButtonInit = new ButtonInit();
        oButtonInit.Init();
         });

    var TableInit = function () {
        var oTableInit = new Object();
        //初始化Table
        oTableInit.Init = function () {
            $('#tb_collector').bootstrapTable({
                url: 'getCollectorListPage',         //请求后台的URL（*）
                method: 'post',                      //请求方式（*）
                contentType:"application/x-www-form-urlencoded",
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: false,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber:1,                       //初始化加载第一页，默认第一页
                pageSize: 25,                       //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                strictSearch: false,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
              //  height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                uniqueId: "collectorId",                     //每一行的唯一标识，一般为主键列
                showToggle:false,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                columns: [{
                    checkbox: true
                }, {
                    field: 'collectorId',
                    title: 'ID',
                    align: 'center',
                }, {
                    field: 'collectorName',
                    title: '名称',
                    align: 'center',
                }, {
                    field: 'collectorAddress',
                    title: '位置',
                    align: 'center',
                }, {
                    field: 'collectorIp',
                    title: 'IP',
                    align: 'center',
                },{
                    field: 'collectorMask',
                    title: '掩码',
                    align: 'center',
                },{
                    field: 'collectorGateway',
                    title: '网关',
                    align: 'center',
                },{
                    field: 'collectorPort',
                    title: '端口',
                    align: 'center',
                },{
                    field: 'collectorStatus',
                    title: '状态',
                    align: 'center',
                    formatter:formatterCollectorStatus,
                },{
                    field:'collectorId',
                    title: '操作',
                    width: 120,
                    align: 'center',
                    valign: 'middle',
                    formatter: actionFormatter
                },

                ]
            });
        };

        //value代表该列的值，row代表当前对象
        function formatterCollectorStatus(value,row,index){
            return value == 1 ? "在线" : "离线";

        }

        //操作栏的格式化
        function actionFormatter(value, row, index) {
            var id = value;
            var result = "";

            result += "<a href='javascript:;' class='btn btn-xs blue' onclick=\"EditViewById('" + id + "')\" title='编辑'><span class='glyphicon glyphicon-pencil'></span></a>";
            result += "<a href='javascript:;' class='btn btn-xs red'  onclick=\"DeleteById('" + id + "')\" title='删除'><span class='glyphicon glyphicon-remove'></span></a>";
            return result;
        }

        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: params.limit,   //页面大小
                offset: params.offset,  //页码
            };
            return temp;
        };
        return oTableInit;
    };

    var ButtonInit = function () {
        var oInit = new Object();
        var postdata = {};

        oInit.Init = function () {
            //初始化页面上面的按钮事件
            $("#btn_add").click(function () {
                $("#myModalLabel").text("新增");
                $('#myModal').modal();
            });
            $("#btn_submit").click(function () {

                if($('#txt_collector_id').val() != ''){
                    $.ajax({
                        type: "post",
                        url: "collector/update",
                        contentType:"application/x-www-form-urlencoded",
                        data: {
                            collectorId:$('#txt_collector_id').val(),
                            collectorName: $("#txt_collector_name").val(),
                            collectorIp: $("#txt_collector_ip").val(),
                            collectorAddress:$("#txt_collector_address").val(),
                            collectorStatus:$("#txt_collector_status").val(),
                            collectorPort:$("#txt_collector_port").val(),
                            collectorGateway:$("#txt_collector_gateway").val(),
                            collectorMask:$("#txt_collector_mask").val()
                        },
                        success: function (data, status) {
                            if (status == "success") {
                                toastr.success('添加成功');
                                $("#tb_collector").bootstrapTable('refresh');
                            }
                        },
                        error: function () {
                            toastr.error('添加失败');
                        },
                        complete: function () {
                            $('#txt_collector_id').val('');
                        }
                    });
                }
                else {

                    $.ajax({
                        type: "post",
                        url: "collector/insert",
                        contentType:"application/x-www-form-urlencoded",
                        data: {
                            collectorName: $("#txt_collector_name").val(),
                            collectorIp: $("#txt_collector_ip").val(),
                            collectorAddress:$("#txt_collector_address").val(),
                            collectorStatus:$("#txt_collector_status").val(),
                            collectorPort:$("#txt_collector_port").val(),
                            collectorGateway:$("#txt_collector_gateway").val(),
                            collectorMask:$("#txt_collector_mask").val()
                        },
                        success: function (data, status) {
                            if (status == "success") {
                                toastr.success('添加成功');
                                $("#tb_collector").bootstrapTable('refresh');
                            }
                        },
                        error: function () {
                            toastr.error('添加失败');
                        },
                        complete: function () {
                        }
                    });
                }
            });
        };
        return oInit;
    };

    function EditViewById(id) {
        var $table = $('#tb_collector');
        var row = $table.bootstrapTable('getRowByUniqueId', id);
        $('#txt_collector_name').val(row.collectorName);
        $('#txt_collector_address').val(row.collectorAddress);
        $('#txt_collector_ip').val(row.collectorIp);
        $('#txt_collector_mask').val(row.collectorMask);
        $('#txt_collector_gateway').val(row.collectorGateway);
        $('#txt_collector_port').val(row.collectorPort);
        $('#txt_collector_status').val(row.collectorStatus);
        $('#txt_collector_id').val(row.collectorId);
        $("#myModalLabel").text("编辑");
        $('#myModal').modal();
    }

    function DeleteById(id){
            Ewin.confirm({ message: "确认要删除选择的集中器吗？" }).on(function (e) {
                if (!e) {
                    return;
                }
                $.ajax({
                    type: "post",
                    url: "collector/delete",
                    data: {"collectorId":id},
                    success: function (data, status) {
                        if (status == "success") {
                            toastr.success('删除成功');
                            $("#tb_collector").bootstrapTable('refresh');
                        }
                    },
                    error: function () {
                        toastr.error('Error');
                    },
                    complete: function () {

                    }

                });
            });
        }

    //组件封装
    (function ($) {

        window.Ewin = function () {
            var html = '<div id="[Id]" class="modal fade" role="dialog" aria-labelledby="modalLabel">' +
                '<div class="modal-dialog modal-sm">' +
                '<div class="modal-content">' +
                '<div class="modal-header">' +
                '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>' +
                '<h4 class="modal-title" id="modalLabel">[Title]</h4>' +
                '</div>' +
                '<div class="modal-body">' +
                '<p>[Message]</p>' +
                '</div>' +
                '<div class="modal-footer">' +
                '<button type="button" class="btn btn-default cancel" data-dismiss="modal">[BtnCancel]</button>' +
                '<button type="button" class="btn btn-primary ok" data-dismiss="modal">[BtnOk]</button>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>';


            var dialogdHtml = '<div id="[Id]" class="modal fade" role="dialog" aria-labelledby="modalLabel">' +
                '<div class="modal-dialog">' +
                '<div class="modal-content">' +
                '<div class="modal-header">' +
                '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>' +
                '<h4 class="modal-title" id="modalLabel">[Title]</h4>' +
                '</div>' +
                '<div class="modal-body">' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>';
            var reg = new RegExp("\\[([^\\[\\]]*?)\\]", 'igm');
            var generateId = function () {
                var date = new Date();
                return 'mdl' + date.valueOf();
            }
            var init = function (options) {
                options = $.extend({}, {
                    title: "操作提示",
                    message: "提示内容",
                    btnok: "确定",
                    btncl: "取消",
                    width: 200,
                    auto: false
                }, options || {});
                var modalId = generateId();
                var content = html.replace(reg, function (node, key) {
                    return {
                        Id: modalId,
                        Title: options.title,
                        Message: options.message,
                        BtnOk: options.btnok,
                        BtnCancel: options.btncl
                    }[key];
                });
                $('body').append(content);
                $('#' + modalId).modal({
                    width: options.width,
                    backdrop: 'static'
                });
                $('#' + modalId).on('hide.bs.modal', function (e) {
                    $('body').find('#' + modalId).remove();
                });
                return modalId;
            }

            return {
                alert: function (options) {
                    if (typeof options == 'string') {
                        options = {
                            message: options
                        };
                    }
                    var id = init(options);
                    var modal = $('#' + id);
                    modal.find('.ok').removeClass('btn-success').addClass('btn-primary');
                    modal.find('.cancel').hide();

                    return {
                        id: id,
                        on: function (callback) {
                            if (callback && callback instanceof Function) {
                                modal.find('.ok').click(function () { callback(true); });
                            }
                        },
                        hide: function (callback) {
                            if (callback && callback instanceof Function) {
                                modal.on('hide.bs.modal', function (e) {
                                    callback(e);
                                });
                            }
                        }
                    };
                },
                confirm: function (options) {
                    var id = init(options);
                    var modal = $('#' + id);
                    modal.find('.ok').removeClass('btn-primary').addClass('btn-success');
                    modal.find('.cancel').show();
                    return {
                        id: id,
                        on: function (callback) {
                            if (callback && callback instanceof Function) {
                                modal.find('.ok').click(function () { callback(true); });
                                modal.find('.cancel').click(function () { callback(false); });
                            }
                        },
                        hide: function (callback) {
                            if (callback && callback instanceof Function) {
                                modal.on('hide.bs.modal', function (e) {
                                    callback(e);
                                });
                            }
                        }
                    };
                },
                dialog: function (options) {
                    options = $.extend({}, {
                        title: 'title',
                        url: '',
                        width: 800,
                        height: 550,
                        onReady: function () { },
                        onShown: function (e) { }
                    }, options || {});
                    var modalId = generateId();

                    var content = dialogdHtml.replace(reg, function (node, key) {
                        return {
                            Id: modalId,
                            Title: options.title
                        }[key];
                    });
                    $('body').append(content);
                    var target = $('#' + modalId);
                    target.find('.modal-body').load(options.url);
                    if (options.onReady())
                        options.onReady.call(target);
                    target.modal();
                    target.on('shown.bs.modal', function (e) {
                        if (options.onReady(e))
                            options.onReady.call(target, e);
                    });
                    target.on('hide.bs.modal', function (e) {
                        $('body').find(target).remove();
                    });
                }
            }
        }();
    })(jQuery);
</script>
</html>

