<!DOCTYPE html>
<html lang="en">
<head>

    <!--meta tags-->

    <meta charset="UTF-8">
    <meta name="description" content="Services Listing HTML5 CSS3 template">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript, services, listing">
    <meta name="author" content="Ui-DesignLab">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--end meta tags-->

    <title>Home</title>
    <!--stylesheets-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="vendor/css/animate.min.css">
    <link rel="stylesheet" href="vendor/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/perfect-scrollbar/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" href="css/app.css">
    <!--end stylesheets-->

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Cairo%7CNosifer%7CPoppins%7CQuicksand:700%7CRaleway%7CTangerine%7CHind+Vadodara" rel="stylesheet">
    <!--end google fonts-->
</head>
<body>

<!--banner-->
<div class="landing-banner">
    <nav class="site-top-nav transparent">
        <div class="logo">
            <a href="index">
                <img src="img/logo.png" alt="">
                <strong>设备管家</strong>
            </a>
        </div>
        <ul class="site-menu">
        <li><a href="index">主页</a></li>
		<li><a href="#service">服务</a></li>
		<li><a href="#">关于我们</a></li>
        </ul>
        <i class="nav-toggle fa fa-bars"></i>
    </nav>

<div class="banner-content">
    <h1 class="title-style1">欢迎使用<strong>   设备管家</strong> </h1>
    <h2 class="title-style2"><span>设备实时在线情况</span></h2>
    <p>
        <span>设备管家系统是基于电力载波技术实现计量仪器设备电流电压功耗利用率等实时统计的一整套解决方案</span>
        <!--<span>In that case worry no more since we've got you covered.</span>-->
    </p>
    <div><a href="#service" class="ui-btn ui-btn-info">开 始</a></div>
</div>

</div>
<!--end banner-->

<!--our services-->
<div id="service" class="our-services">
    <h2>应 用 入 口</h2>
    <p>
    </p>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="service" onclick="window.location.href='monitor';">
                <span><i class="fa fa-laptop"></i></span>
                <strong>实时在线情况</strong>
                <p>
                    实时监测仪器设备的在线情况/电流/电压/功耗等
                </p>

            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="service">
                <span><i class="fa fa-bar-chart-o"></i></span>
                <strong>利用率统计</strong>
                <p>
                    仪器设备利用率统计
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="service" onclick="window.location.href='collector';">
                <span><i class="fa fa-credit-card"></i></span>
                <strong>集中器管理</strong>
                <p>
                    注册新集中器/变更集中器信息/移除集中器
                </p>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="service">
                <span><i class="fa fa-star"></i></span>
                <strong>待上线</strong>
                <p>

                </p>
            </div>
        </div>
    </div>
</div>
<!--end our services-->

<!--page loader-->
<div class="page-loader">
    <div class="loader"><img src="img/logo.png" alt=""></div>
</div>
<!--end page loader-->

<!--&lt;!&ndash;footer section&ndash;&gt;-->
<!--<footer class="footer">-->
    <!--<div class="footer-item">-->
        <!--<strong>Get In Touch</strong>-->
        <!--<a href="#"><i class="fa fa-angle-right"></i> Get Support</a>-->
        <!--<a href="#"><i class="fa fa-angle-right"></i> Advertise</a>-->
        <!--<a href="#"><i class="fa fa-angle-right"></i> Community Forum</a>-->
        <!--<a href="#"><i class="fa fa-angle-right"></i> Affiliate Program</a>-->
        <!--<a href="#"><i class="fa fa-angle-right"></i> Contact Us</a>-->
    <!--</div>-->
    <!--<div class="footer-item">-->
        <!--<strong>Questions?</strong>-->
        <!--<a href="#"><i class="fa fa-angle-right"></i> Help</a>-->
        <!--<a href="#"><i class="fa fa-angle-right"></i> Contact</a>-->
        <!--<a href="#"><i class="fa fa-angle-right"></i> Live Support</a>-->
    <!--</div>-->
    <!--<div class="footer-item">-->
        <!--<strong>Follow OldsMarket</strong>-->
        <!--<a href="#"><i class="fa fa-angle-right"></i> Facebook</a>-->
        <!--<a href="#"><i class="fa fa-angle-right"></i> Twitter</a>-->
        <!--<a href="#"><i class="fa fa-angle-right"></i> Flickr</a>-->
        <!--<a href="#"><i class="fa fa-angle-right"></i> Youtube</a>-->
        <!--<a href="#"><i class="fa fa-angle-right"></i> LinkedIn</a>-->
    <!--</div>-->
    <!--<div class="footer-item">-->
        <!--<strong>Important Links</strong>-->
        <!--<a href="#"><i class="fa fa-angle-right"></i> Home</a>-->
        <!--<a href="#"><i class="fa fa-angle-right"></i> Products</a>-->
        <!--<a href="#"><i class="fa fa-angle-right"></i> Services</a>-->
        <!--<a href="#"><i class="fa fa-angle-right"></i> About Us</a>-->
    <!--</div>-->
<!--</footer>-->

<div class="bottom-strip">
    <div class="cards-accepted">
        <!--<em>Cards Accepted:</em>-->
        <!--<img src="img/card-logos.png" alt="">-->
    </div>
    <div class="copyright"><i class="fa fa-copyright"></i> <span>Copyright &copy; 2018. 航天科工二院二十三所  All rights reserved.</span></div>
    <div class="country"></div>
</div>
<!--end footer section-->

<!--scripts-->
<script src="vendor/js/jquery-3.2.1.min.js"></script>
<script src="vendor/js/popper.js"></script>
<script src="vendor/js/bootstrap.min.js"></script>
<script src="vendor/js/alertify.js"></script>
<script src="vendor/js/jquery.knob.min.js"></script>
<!--[if IE]><script type="text/javascript" src="vendor/js/excanvas.js"></script><![endif]-->
<script src="vendor/js/summernote-bs4.min.js"></script>
<script src="vendor/js/dropzone.js"></script>
<script src="vendor/OwlCarousel2-2.2.1/owl.carousel.min.js"></script>
<script src="vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<script src="vendor/js/typed.js"></script>
<script src="vendor/js/typed.js"></script>
<script src="js/app.js"></script>
<!--end scripts-->

</body>
</html>

