<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.casic.yqgl.mapper.EventMapper">
  <resultMap id="BaseResultMap" type="com.casic.yqgl.model.Event">
    <id column="event_id" jdbcType="INTEGER" property="eventId" />
    <result column="instr_ip" jdbcType="VARCHAR" property="instrIp" />
    <result column="event_time_count" jdbcType="INTEGER" property="eventTimeCount" />
    <result column="event_v" jdbcType="DOUBLE" property="eventV" />
    <result column="event_a" jdbcType="DOUBLE" property="eventA" />
    <result column="event_w" jdbcType="DOUBLE" property="eventW" />
    <result column="event_status" jdbcType="VARCHAR" property="eventStatus" />
    <result column="event_realtime" jdbcType="TIMESTAMP" property="eventRealtime" />
    <result column="collector_id" jdbcType="INTEGER" property="collectorId" />
    <result column="ip_date" jdbcType="VARCHAR" property="ipDate" />
  </resultMap>
  <sql id="Base_Column_List">
    event_id, instr_ip, event_time_count, event_v, event_a, event_w, event_status, event_realtime, 
    collector_id, ip_date
  </sql>

  <select id="getTimeByIdAndDay" parameterType="map" resultType="java.lang.Integer">
    select
      IFNULL(SUM(event_time_count),0)
    from event_old where 1=1
    <if test="day!=null and day !=''">
      AND to_days(event_realtime) = to_days(#{day})
    </if>
    <if test="collectorId!=null and collectorId !=''">
    AND collector_id = #{collectorId}
    </if>
  </select>

  <select id="getTimeByIdAndMonth" parameterType="map" resultType="java.lang.Integer">
    select
    IFNULL(SUM(event_time_count),0)
    from event_old where 1=1
    <if test="month!=null and month !=''">
      AND year(event_realtime) = #{year}
      AND month(event_realtime) = #{month}
    </if>
    <if test="collectorId!=null and collectorId !=''">
      AND collector_id = #{collectorId}
    </if>
  </select>


  <select id="getTimeById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select
      IFNULL(SUM(event_time_count),0)
    from event_old
    where collector_id = #{collectorId,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from event_old
    where event_id = #{eventId,jdbcType=INTEGER}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from event_old
    where event_id = #{eventId,jdbcType=INTEGER}
  </delete>

  <insert id="saveOrUpdate" parameterType="com.casic.yqgl.model.Event">
    insert into event_old (event_id, instr_ip, event_time_count,
                           event_v, event_a, event_w,
                           event_status, event_realtime, collector_id,
                           ip_date)
    values (#{eventId,jdbcType=INTEGER}, #{instrIp,jdbcType=VARCHAR}, #{eventTimeCount,jdbcType=INTEGER},
            #{eventV,jdbcType=DOUBLE}, #{eventA,jdbcType=DOUBLE}, #{eventW,jdbcType=DOUBLE},
            #{eventStatus,jdbcType=VARCHAR}, #{eventRealtime,jdbcType=TIMESTAMP}, #{collectorId,jdbcType=INTEGER},
            #{ipDate,jdbcType=VARCHAR})
    ON DUPLICATE KEY UPDATE
      instr_ip=values(instr_ip),
      event_time_count=values(event_time_count),
      event_v=values(event_v),
      event_a=values(event_a),
      event_w=values( event_w),
      event_status=values(event_status),
      event_realtime=values(event_realtime),
      collector_id=values(collector_id)
  </insert>
  <insert id="insert" parameterType="com.casic.yqgl.model.Event">
    insert into event_old (event_id, instr_ip, event_time_count, 
      event_v, event_a, event_w, 
      event_status, event_realtime, collector_id, 
      ip_date)
    values (#{eventId,jdbcType=INTEGER}, #{instrIp,jdbcType=VARCHAR}, #{eventTimeCount,jdbcType=INTEGER}, 
      #{eventV,jdbcType=DOUBLE}, #{eventA,jdbcType=DOUBLE}, #{eventW,jdbcType=DOUBLE}, 
      #{eventStatus,jdbcType=VARCHAR}, #{eventRealtime,jdbcType=TIMESTAMP}, #{collectorId,jdbcType=INTEGER}, 
      #{ipDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.casic.yqgl.model.Event">
    insert into event_old
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eventId != null">
        event_id,
      </if>
      <if test="instrIp != null">
        instr_ip,
      </if>
      <if test="eventTimeCount != null">
        event_time_count,
      </if>
      <if test="eventV != null">
        event_v,
      </if>
      <if test="eventA != null">
        event_a,
      </if>
      <if test="eventW != null">
        event_w,
      </if>
      <if test="eventStatus != null">
        event_status,
      </if>
      <if test="eventRealtime != null">
        event_realtime,
      </if>
      <if test="collectorId != null">
        collector_id,
      </if>
      <if test="ipDate != null">
        ip_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eventId != null">
        #{eventId,jdbcType=INTEGER},
      </if>
      <if test="instrIp != null">
        #{instrIp,jdbcType=VARCHAR},
      </if>
      <if test="eventTimeCount != null">
        #{eventTimeCount,jdbcType=INTEGER},
      </if>
      <if test="eventV != null">
        #{eventV,jdbcType=DOUBLE},
      </if>
      <if test="eventA != null">
        #{eventA,jdbcType=DOUBLE},
      </if>
      <if test="eventW != null">
        #{eventW,jdbcType=DOUBLE},
      </if>
      <if test="eventStatus != null">
        #{eventStatus,jdbcType=VARCHAR},
      </if>
      <if test="eventRealtime != null">
        #{eventRealtime,jdbcType=TIMESTAMP},
      </if>
      <if test="collectorId != null">
        #{collectorId,jdbcType=INTEGER},
      </if>
      <if test="ipDate != null">
        #{ipDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.casic.yqgl.model.Event">
    update event_old
    <set>
      <if test="instrIp != null">
        instr_ip = #{instrIp,jdbcType=VARCHAR},
      </if>
      <if test="eventTimeCount != null">
        event_time_count = #{eventTimeCount,jdbcType=INTEGER},
      </if>
      <if test="eventV != null">
        event_v = #{eventV,jdbcType=DOUBLE},
      </if>
      <if test="eventA != null">
        event_a = #{eventA,jdbcType=DOUBLE},
      </if>
      <if test="eventW != null">
        event_w = #{eventW,jdbcType=DOUBLE},
      </if>
      <if test="eventStatus != null">
        event_status = #{eventStatus,jdbcType=VARCHAR},
      </if>
      <if test="eventRealtime != null">
        event_realtime = #{eventRealtime,jdbcType=TIMESTAMP},
      </if>
      <if test="collectorId != null">
        collector_id = #{collectorId,jdbcType=INTEGER},
      </if>
      <if test="ipDate != null">
        ip_date = #{ipDate,jdbcType=VARCHAR},
      </if>
    </set>
    where event_id = #{eventId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.casic.yqgl.model.Event">
    update event_old
    set instr_ip = #{instrIp,jdbcType=VARCHAR},
      event_time_count = #{eventTimeCount,jdbcType=INTEGER},
      event_v = #{eventV,jdbcType=DOUBLE},
      event_a = #{eventA,jdbcType=DOUBLE},
      event_w = #{eventW,jdbcType=DOUBLE},
      event_status = #{eventStatus,jdbcType=VARCHAR},
      event_realtime = #{eventRealtime,jdbcType=TIMESTAMP},
      collector_id = #{collectorId,jdbcType=INTEGER},
      ip_date = #{ipDate,jdbcType=VARCHAR}
    where event_id = #{eventId,jdbcType=INTEGER}
  </update>
</mapper>